body {
    background: linear-gradient(270deg, #f725ef, #258ff7);
    background-size: 400% 400%;

    color:white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}



.hero{
    display:flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.intro{
    display:flex;
    flex-direction: column;
    margin-right: 2em;
    text-align: right;
    padding: 0;
}

h1{
    margin-block: 0;
    margin-bottom: 0.25em;
}
h2{
    margin-block: 0;
}


.cv{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cvbox{
    transition-duration: 0.3s;
    transition-property: transform;
    transition-property: box-shadow;
    width: 20em;
    height: fit-content;
    border-radius: 1em;
    border-color: azure;
    box-shadow: 0 0 5px whitesmoke;


}
.cvbox:hover{
    /* transform: scale(1.1); */
    box-shadow: 0 0 50px rgb(245, 203, 255);
}
  
